<mat-sidenav-container class="layout-container">
  <mat-sidenav
    class="layout-sidenav"
    mode="side"
    [opened]="sidenavOpened"
    (openedChange)="onSidenavOpenedChange($event)"
    [fixedInViewport]="true">
    <app-sidebar
      [menuItems]="menuItems"
      [portalLabel]="portalLabel"
      [userName]="userName"
      [userEmail]="userEmail" />
  </mat-sidenav>

  <mat-sidenav-content class="layout-content">
    <app-header
      [portalLabel]="portalLabel"
      [userName]="userName"
      [userEmail]="userEmail"
      (menuToggle)="toggleSidenav()" />
    <main class="page-content">
      <router-outlet />
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
